@import "~bootstrap/scss/bootstrap.scss";

.semaforo {
    height: 300px;
    width: 100px;
    background: black;
    /* border: 1px solid black; */
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }
.luz {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 15px;
    /* background-color: red; */
    /* box-shadow:0 0 20px black; */
  }
.luzbrillante {
    box-shadow:0 0 50px blue;
}
.luzroja {
  background: red;
}
.luzamarilla {
  background: yellow;
}
.luzverde {
  background: green;
}
